# Big or generable files
dump*.csv
sample*.csv
tweets.txt
vectors_*.txt
**.pkl
results/

# Configuration
config.ini

# Project data
.RData
.Rhistory
.project
.pydevproject
__pycache__/
**.pyc

# FreeLing
_freeling.so
_pyfreeling.so
pyfreeling.py
