[TWITTER]
AccessToken = dummy
AccessTokenSecret = dummy
ConsumerKey = dummy
ConsumerSecret = dummy

[GENDERAPI]
Key = dummy

[FREELING]
Data = /usr/share/freeling/
Lang = es

[PATH]
Pkl = data/pkl/
Csv = data/csv/
PathAut = data/diputados_autonomicos.csv
PathCon = data/diputados_congreso.csv
HandleAut = twitter account
HandleCon = handle
